@model IEnumerable<ApplicationRepository.Models.User>

@using UsersEdit.Extensions

@helper OutputUsers(IEnumerable<ApplicationRepository.Models.User> users)
{
    foreach (var user in users)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => user.Login)
            </td>

            <td>
                @Html.DisplayFor(model => user.FirstName)
            </td>

            <td>
                @Html.DisplayFor(model => user.LastName)
            </td>

            <td>
                @Html.DisplayFor(model => user.Age)
            </td>

            <td>
                @Html.DisplayFor(model => user.Phone)
            </td>

            <td>
                @if (user.Email != null)
                { 
                    @Html.EmailLink(user.Email, user.Email);
                }     
            </td>

            <td>
                @Html.DisplayFor(model => user.Role.Name)
            </td>

            <td>
                @if (user.Image != null)
                {
                    <img id="image" src='@Url.Action("GetPhoto", "Profile", new { id = user.Id})' />
                }
            </td>

            <td>
                @Html.DisplayFor(model => user.BirthDay)
            </td>

            <td>
                @if (User.IsInRole("admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = user.Id }) <span>|</span>
                    @Html.ActionLink("Details", "Details", new { id = user.Id}) <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = user.Id })
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = user.Id})
                }
                
            </td>
        </tr>
    }
}

@{
    ViewBag.Title = "Users";
}

<br />
<br />

@Html.ActionLink("Create new user", "Add")

<br />
<br />
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>

        <th>
            Photo
        </th>

        <th>
            @Html.DisplayNameFor(model => model.BirthDay)
        </th>

        <th>

        </th>
    </tr>

    @OutputUsers(Model)

</table>
